@import url("/src/bootstrap/bootstrap.min.css");

html, body {
  min-height: 100dvh !important;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

nav.navbar {
  background-color: #fcbc73 !important;
}

input:not(.is-invalid) {
  accent-color: #fcbc73 !important;
}

input[type=checkbox]:checked:not(.is-invalid) {
  accent-color: #fcbc73 !important;
  background-color: #f1952a !important;
  border-color: #df851e !important;
}

input:focus:not(.is-invalid), select:focus:not(.is-invalid) {
  border-color: #fcbc73 !important;
  box-shadow: 0 0 0 0.25rem #f0bf8661 !important;
}

a.custom-a-link {
  color: #eda44f !important;
}

a.custom-a-link:hover {
  color: #fcbc73 !important;
}

.nav-link.active {
  font-weight: bold;
}

input[readonly].disabled {
  background-color: var(--bs-secondary-bg);
  opacity: 1;
  box-shadow: none;
  cursor: default;
}

input[readonly].disabled:focus {
  background-color: var(--bs-secondary-bg);
  opacity: 1;
  box-shadow: none !important;
  border: var(--bs-border-width) solid var(--bs-border-color) !important;
}

@media (min-width: 992px) {
  a.navbar-brand {
    width: 100%;
    display: block;
  }
}