.landing-page-background {
  background-color: #f9d6af;
}

.landing-divider-svg-container {
  padding: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.landing-divider-svg-container1720740850 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 56px;
}

.landing-divider-svg-container .shape-fill {
  fill: #FFFFFF;
}

.image-perro-landing img {
  user-select: none;
  max-width: 380px;
  margin: auto;
  display: block;
}

.image-perro-landing img.sm {
  display: none;
}

@media screen and (max-width: 992px) {

  .image-perro-landing {
    width: 100%;
  }

  .image-perro-landing img.lg {
    display: none;
  }
  
  .image-perro-landing img.sm {
    display: block;
    width: 100%;
    max-width: 550px;
  }

  .resume-container {
    flex-direction: column !important;
  }
  
}